.icon-btn:hover,
.icon-btn:active {
  background-color: #fff !important;
}

.table_border_info td,
.table_border_info th {
  border: 1px solid #c4c4c4 !important;
}

.stripe_fd {
  background: linear-gradient(to right, #3097dd 5px, #fff 5px);
  background-repeat: no-repeat;
}

.stripe_ca {
  background: linear-gradient(to right, #21c306 5px, #fff 5px);
  background-repeat: no-repeat;
}

.stripe_as {
  background: linear-gradient(to right, #ffec45 5px, #fff 5px);
  background-repeat: no-repeat;
}

.stripe_gloves {
  background: linear-gradient(to right, #ffc145 5px, #fff 5px);
  background-repeat: no-repeat;
}

.stripe_sp {
  background: -webkit-linear-gradient(left, #ff0000 5px, #fff 5px);
  background-repeat: no-repeat;
}

.stripe_pc {
  background: linear-gradient(to right, #ed4ec8 5px, #fff 5px);
  background-repeat: no-repeat;
}
